* {
	margin: 0;
	padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--red-color: #d16a5e;
	--blue-color: #0865a7;
	--white-color: #f8f4ec;
	--dark-color: #2e2e2e;
}

header {
	background-color: var(--dark-color);
	padding: 1rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > div {
	width: 3rem;
	height: 2rem;
}

#login-button {
	font-family: "Inter Tight", sans-serif;
	font-weight: 900;
	font-size: 1rem;
	padding: 0.3rem 1rem;
	color: var(--white-color);
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid var(--white-color);
	border-radius: 5px;
}
